<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.ProviderDao">

    <resultMap id="UserByRef" type="User" autoMapping="true">
        <id column="u_id" property="id"/>
        <id column="u_email" property="email"/>
        <id column="u_name" property="name"/>
        <id column="u_password" property="password"/>
        <id column="u_createTime" property="createTime"/>
        <id column="u_updateTime" property="updateTime"/>
    </resultMap>

    <resultMap id="ProviderByRef" type="Provider" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="users" ofType="User" column="u_id" resultMap="UserByRef"/>
    </resultMap>

    <select id="findById" parameterType="int" resultMap="ProviderByRef">
        SELECT t1.* , t2.id AS u_id , t2.email AS u_email , t2.name AS u_name , t2.password AS u_password , t2.createTime AS u_createTime , t2.updateTime AS u_updateTime
        FROM providers t1 LEFT JOIN users t2 ON t1.id = t2.providerId
        WHERE t1.id = #{id}
    </select>

    <select id="findByName" parameterType="String" resultType="Provider">
        select * from Providers
        where name like concat('%',#{value},'%')
    </select>

    <select id="findAll" parameterType="int" resultMap="ProviderByRef">
        <choose>
            <when test="_parameter == 0">
                SELECT * FROM providers;
            </when>
            <otherwise>
                SELECT t1.* , t2.id AS u_id , t2.email AS u_email , t2.name AS u_name , t2.password AS u_password , t2.createTime AS u_createTime , t2.updateTime AS u_updateTime
                FROM providers t1 LEFT JOIN users t2 ON t1.id = t2.providerId
                WHERE t1.id = #{id}
            </otherwise>
        </choose>
    </select>

    <insert id="insert" parameterType="Provider" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO Providers VALUES (null, #{email},#{password},#{name},#{address},#{openTime},#{closeTime},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="Provider">
        UPDATE Providers SET email = #{email},password = #{password},name = #{name},address = #{address},openTime = #{openTime},closeTime = #{closeTime},createTime = #{createTime},updateTime = #{updateTime}
        WHERE id = #{id}
    </update>

    <!-->两种delete都指向这一个SQL<-->
    <delete id="delete" parameterType="Provider">
        DELETE FROM providers
        WHERE id = #{id}
    </delete>

</mapper>